==
<?php
  use Jiri\Jkshop\Models\Category;
  function onStart(){
    $this['categories'] = Category::get();
  }
?>
==

<div class="footer">
	<div class="rectangle-1">
		<div class="container rect-1">
			<div class="ui three column center aligned divided relaxed stackable grid container">
				<div class="row">
					<div class="column">
						<img src="{{'assets/img/icon/gift-anticon.png'|theme}}" srcset="{{'assets/img/icon/gift-anticon@2x.png 2x'|theme}}", "{{'assets/img/icon/gift-anticon@3x.png 3x'|theme}}" class="icon-01">
						<div class="r1-text-01">Discreet Packaging</div>
					</div>
					<div class="column">
						<img src="{{'assets/img/icon/timer-material.png'|theme}}" srcset="{{'assets/img/icon/timer-material@2x.png 2x'|theme}}", "{{'assets/img/icon/timer-material@3x.png 3x'|theme}}" class="icon-01">
						<div class="r1-text-01">Dispatch within 24hrs</div>
					</div>
					<div class="column">
						<img src="{{'assets/img/icon/rotate-left-material.png'|theme}}" srcset="{{'assets/img/icon/rotate-left-material@2x.png 2x'|theme}}", "{{'assets/img/icon/rotate-left-material@3x.png 3x'|theme}}" class="icon-01">
						<div class="r1-text-01">15 Days Easy Returns</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="ui grid">
			<div class="four wide column">
				<div class="Behaku"><a href="/oct/">Behaku</a></div>
				<div class="ft-1-1"> Buy Bras, Panties, Nightwear, Swimwear, Sportswear & Apparel from Behaku - The Online Lingerie & Fashion Destination in Indonesia
				</div>
				<div class="ft-1-2">
					<img src="{{'assets/img/icon/app-store.png'|theme}}" srcset="{{'assets/img/icon/app-store@2x.png 2x'|theme}}", "{{'assets/img/icon/app-store@3x.png 3x'|theme}}" class="icon-footer-01">
					<img src="{{'assets/img/icon/play-store.png'|theme}}" srcset="{{'assets/img/icon/play-store@2x.png 2x'|theme}}", "{{'assets/img/icon/play-store@3x.png 3x'|theme}}" class="icon-footer-01">
				</div>
			</div>
			<div class="three wide column">
				<div class="ft-2-1">SHOP BY CATEGORIES</div>
				<div class="ft-2-2">
					<ul>
						{% for cat in categories %}
						<li><a href="/oct/{{cat.slug}}">{{cat.title}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="three wide column">
				<div class="ft-3-1">HELP & SUPPORT</div>
				<div class="ft-3-2">
					<ul>
						<!-- <li><a href="">Track/Return Order</a></li> -->
						<li><a href="/oct/contact">Contact Us</a></li>
						<li><a href="">FAQs</a></li>
						<li><a href="">Shipping Policy</a></li>
						<li><a href="">Returns Policy</a></li>
						<li><a href="">Discreet Packaging</a></li>
						<li><a href="">Disclaimer Policy</a></li>
					</ul>
				</div>
			</div>
			<div class="three wide column">
				<div class="ft-4-1">DISCOVER BEHAKU</div>
				<div class="ft-4-2">
					<ul>
						<li><a href=""><a href="">About Behaku</a></li>
						<li><a href="">Locate Behaku Studios</a></li>
						<li><a href="">Our Investors</a></li>
						<li><a href="">Careers</a></li>
						<li><a href="">Press Center</a></li>
						<li><a href="">Become Behaku Champion</a></li>
					</ul>
				</div>
			</div>
			<div class="three wide column">
				<div class="ft-5-1">KNOW MORE</div>
				<div class="ft-5-2">
					<ul>
						<li><a href="">Behaku Collections</a></li>
						<li><a href="">Bra Size Calculator</a></li>
						<li><a href="">Behaku Blog</a></li>
						<li><a href="">Behaku Fit Secrets</a></li>
						<li><a href="">Find Your Perfect Fit</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="ui grid">
			<div class="right floated column">
				<div class="ft2">
					<div class="ft2-1">100% secure payment</div>
					<div class="ft2-2">
						<img src="{{'assets/img/icon/pci-2-x-01.png'|theme}}" srcset="{{'assets/img/icon/pci-2-x-01@2x.png 2x'|theme}}", "{{'assets/img/icon/pci-2-x-01@3x.png 3x'|theme}}" class="icon-footer-02">
					</div>
				</div>
			</div>
		</div>
		<div class="ui grid">
			<div class="three column row ft3">
				<div class="left floated column">
					<img src="{{'assets/img/icon/payment-method.png'|theme}}" srcset="{{'assets/img/icon/payment-method@2x.png 2x'|theme}}", "{{'assets/img/icon/payment-method@3x.png 3x'|theme}}" class="icon-footer-03">
				</div>
				<div class="right floated column">
					<i class="icon fa-facebook"></i>
					<i class="icon fa-instagram"></i>
					<i class="icon fa-twitter"></i>
					<i class="icon fa-pinterest"></i>
					<i class="icon fa-wordpress"></i>
					<i class="icon fa-youtube-play"></i>
					<i class="icon fa-linkedin-square"></i>
					<i class="icon fa-google-plus"></i>
				</div>
			</div>
		</div>
		<div class="ui two column centered grid">
			<div class="column">
				<div class="ft4">© Copyright 2017 Behaku. All rights reserved. | Privacy Policy | Terms of Use</div>
			</div>
		</div>
	</div>
</div>