[staticMenu]
code = "main-menu"

[viewBag]
==
<?php
	use Jiri\Jkshop\Models\Category;
	function onStart(){
		$this['category'] = Category::orderBy('id','desc')->paginate(3);
		$this['categories'] = Category::get();
	}
?>
==
<div class="header">
	<div class="ui vertical sidebar menu left" id="toc" style="">
		<div class="item">
			<!-- <img src="{{'assets/img/icon/menu.svg'|theme}}" class="view-ui item"> -->
			<i class="large arrow left icon view-ui"></i>
		  <div class="Behaku sidebar-logo"><a href="/">Behaku</a></div>
		</div>
		{% for cat in categories %}
		<a class="item" href="/{{cat.slug}}"><b>{{cat.title}}</b></a>
		{% endfor %}
	</div>

	<div class="Rectangle-2">
		<div class="container">
			<div class="-Off-ALL-Bras-3">40% Off ALL Bras | 3 FREE Panties when you buy 2 DETAILS <span>| Sexy Sale up to 70% Off</span></div>
			<div class="icon-rect-2">
				<img src="{{'assets/img/icon/shop-anticon.png'|theme}}" srcset="{{'assets/img/icon/shop-anticon@2x.png 2x'|theme}}, {{'assets/img/icon/shop-anticon@3x.png 3x'|theme}}" class="shop---anticon">
				<img src="{{'assets/img/icon/location-pin-simple-line-icons.png'|theme}}"
	     srcset="{{'assets/img/icon/location-pin-simple-line-icons@2x.png 2x'|theme}}", {{'assets/img/icon/location-pin-simple-line-icons@3x.png 3x'|theme}}" class="location-pin---simple-line-icons">
	     <img src="{{'assets/img/icon/phone-simple-line-icons.png'|theme}}"
	     srcset="{{'assets/img/icon/phone-simple-line-icons@2x.png 2x'|theme}}", {{'assets/img/icon/phone-simple-line-icons@3x.png 3x'|theme}}" class="phone---simple-line-icons">
	     <span class="phone-numb">0812 3456 7890</span>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="Rectangle">
		<div class="container">
			<img src="{{'assets/img/icon/menu.svg'|theme}}" class="view-ui item menu">
			<div class="Behaku"><a href="/">Behaku</a></div>
			<div class="icon-rect">
				<span class="icon-header" data-tooltip="Search" data-position="bottom left" data-inverted="">
					<i class="fa fa-search"></i>
				</span>
				{% if user %}
				<a class="user-dropdown visible">
					<span><i class="fa fa-user-o user-dropdown"></i></span>
					<i class="fa fa-circle circle-user active"></i>
			  </a>
				<div class="ui popup bottom left transition hidden" style="margin-left: -0.9rem; top: 553px; left: 1px; bottom: auto; right: auto; min-width:10em; max-width: 13em">
			    <div class="ui one column relaxed divided grid">
			      <div class="column">
			        <h4 class="ui header">Hi, {{ user.name }}</h4>
			        <div class="ui link list">
			          <a class="item" href="/profile">My Profile</a>
			          <a class="item" href="/my-orders">My Orders</a>
			          <div class="ui divider"></div>
			          <a class="item" href="#" data-request="onLogout" data-request-data="redirect: '/'">Sign Out</a>
			        </div>
			      </div>
			    </div>
			  </div>

				<!-- <span><a href="#" data-request="onLogout" data-request-data="redirect: '/'">Sign out</a></span> -->
				{% else %}
				<span class="icon-header login-btn" data-tooltip="Login/Register" data-position="bottom left" data-inverted="">
				  <i class="fa fa-user-o"></i>
				  <i class="fa fa-circle-o circle-user"></i>
				</span>
				{% endif %}
				<span class="icon-header" data-tooltip="Cart" data-position="bottom left" data-inverted="">
					<a href="{{ 'basket'|page }}"><i class="fa fa-shopping-cart"></i> <!-- <span id="jkshop-total-basket">{{ basket.total_price_formatted }}</span> --></a>
				</span>
			</div>
		</div>
	</div>

	<div class="ui tiny modal login">
		<i class="close icon"></i>
		<div class="signin-modal">
		  <div class="title-2">Login to Account</div>
		  <div class="Shop-our-latest-tren">Don’t have an account? <span class="register-btn links">Click here</span></div>
	    <form class="ui form" data-request="onSignin">
        <div class="form-group field">
          <label for="userSigninLogin">Email Address</label>
          <input name="login" type="text" class="form-control" id="userSigninLogin" placeholder="Enter your {{ loginAttributeLabel|lower }}" />
        </div>
        <div class="form-group field">
          <label for="userSigninPassword">Password</label>
          <input name="password" type="password" id="userSigninPassword" placeholder="Enter your password" />
        </div>
        <button type="submit" class="btn btn-default btn-01">Sign in</button>
	    </form>
		</div>
	</div>
	<div class="ui tiny modal register">
		<i class="close icon"></i>
		<div class="signin-modal">
			<div class="title-2">Sign Up</div>
			<div class="Shop-our-latest-tren">Already have an account? <span class="login-btn links">Click here</span></div>
			<form class="ui form" data-request="onRegister">
		    <div class="form-group field">
	        <label for="registerName">Full Name</label>
	        <input name="name" type="text" class="form-control" id="registerName" placeholder="Enter your full name" />
		    </div>
		    <div class="form-group field">
	        <label for="registerEmail">Email Address</label>
	        <input name="email" type="email" class="form-control" id="registerEmail" placeholder="Enter your email" />
		    </div>
		    <div class="form-group field">
	        <label for="registerPassword">Password</label>
	        <input name="password" type="password" class="form-control" id="registerPassword" placeholder="Choose a password" />
		    </div>
		    <div class="Shop-our-latest-tren accept-terms">By creating account, you agree to our <span class="links">Terms of Service</span></div>
		    <button type="submit" class="btn btn-default btn-01">Register</button>
			</form>
		</div>
	</div>
</div>

<!-- {{ form_ajax('on', { model: user }) }}

    {{ form_value('name') }}
    {{ form_value('email	') }}

{{ form_close() }} -->

{% put scripts %}
<script>
	$('.login-btn').click(function(){
		$('.ui.modal.login').modal('show');
	});

	$('.register-btn').click(function(){
		$('.ui.modal.register').modal('show');
	});

	$('.view-ui').click(function(){
		$('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
	});


	
</script>
<script>
// 	$('.browse.item')
//   .popup()
// ;

$('.user-dropdown')
  .popup({
    inline     : true,
    hoverable  : true,
    position   : 'bottom left',
    delay: {
      show: 300,
      hide: 800
    }
  })
;
</script>
<script>
	if ($(window).width() < 992) {
  	$(".login").removeClass('ui tiny modal');
  	$(".register").removeClass('ui tiny modal');
  	$(".login").addClass('ui small modal');
  	$(".register").addClass('ui small modal');
	}

</script>

<script>
	$(window).on("scroll touchmove", function () {
	  $('.header').toggleClass('smaller', $(document).scrollTop() > 0);
	});
</script>
{% endput %}