.Rectangle-2 {
  height: 31px;
  background-color: #f4f4f4;
}

.-Off-ALL-Bras-3 {
  font-family: Helvetica;
  font-size: 10px;
  color: #575757;
  line-height: 31px;
  float: left;
}

.icon-rect-2 {
  float: right;
  line-height: 31px;
}

.shop---anticon, .location-pin---simple-line-icons, .phone---simple-line-icons {
  object-fit: contain;
  font-size: 13px;
  text-align: left;
  color: #575757;
  margin-right: 20px;
}

.phone-numb {
  font-family: Helvetica;
  font-size: 11px;
  text-align: left;
  color: #575757;

}

.Rectangle {
  height: 70px;
  background-color: #ffffff;
  border-bottom: solid 1px #dfdfdf;
}

.Rectangle .container {
  line-height: 70px;
}

.menu {
  margin-right: 18px;
}

.Behaku {
  font-family: 'time sans serif';
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  color: #ee8484;
  display: inline-block;
  a {
    color: #ee8484;
  }
}

.icon-rect {
  float: right;
}

.ui.search {
  display: inline-block;
  margin-right: 39px;
}

.search---FontAwesome, .User---simple-line-icons, .shopping-bag---FontAwesome, .header .icon-rect span {
  object-fit: contain;
  font-size: 15px;
  text-align: left;
  color: #575757;
  margin-right: 20px;
  cursor: pointer;
}

.header .icon-rect .fa-shopping-cart {
  margin-right: 0;
}

.shopping-bag---FontAwesome {
  margin-right: 0;
}

.header .ui.grid {
  margin-right: 0;
  margin-top: 0;
}

.header .ui.grid>.row {
  padding: 0;
}

.rect-nav .twelve.column.row .column {
  font-family: HelveticaNeue;
  font-family: 'Helvetica-Neue-Interface';
  font-size: 10px;
  color: #575757;
  text-align: center;
}

.rect-nav a {
  color: #575757;
}

.header .icon-rect a {
  color: #575757;
}

[data-position="bottom left"][data-tooltip]:before {
    left: 0;
}

[data-position="bottom left"][data-tooltip]:after {
    left: -1rem;
}

.user-dropdown {
  position: relative;
}

.user-dropdown .circle-user.active {
    color: #8BC43F;
}

.user-dropdown .circle-user, .icon-header .circle-user {
    position: absolute;
    top: -0.6rem;
    left: 0.7rem;
    font-size: 7px;
}

.header .icon-rect span:last-child {
  margin-right: 0;
}

.view-ui:hover {
  cursor: pointer;
  opacity: .7;
}

.ui.vertical.menu .item>i.icon.view-ui {
  float: left!important;
  line-height: 24px;
  color: #575757;
  margin-left: 0;
}

.ui.vertical.menu .item>.Behaku.sidebar-logo {
  margin-left: 50px;
  margin-left: 20%;
}

.ui.menu b {
  text-transform: uppercase;
  color: #575757;
}

.ui.menu .item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header.smaller {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.header.smaller .Rectangle {
  position: fixed;
  top: 0;
  z-index: 1500;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.11);
  box-shadow: 0 1px 3px rgba(0,0,0,0.11);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  border-bottom: 0;
}

.header.smaller .Rectangle-2 {
  margin-bottom: 40px;
}

.ui.modal {
  z-index: 3000;
}

/* Media Query */

@media only screen and (max-width: 991px) {
  .header {
    .-Off-ALL-Bras-3 {
      float: none;
      text-align: center;
    }
    .icon-rect-2 {
      display: none;
    }
    
  }
}

@media only screen and (max-width: 767px) {
  .header {
    .-Off-ALL-Bras-3 span {
      display: none;
    }
  }
}