*, :after, :before {
	box-sizing: inherit;
}

/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
 height: 1%;
 overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
 min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 font-size: 0;
}

/* =======================================================================
## Custom
========================================================================== */

.container {
    width: 1250px;
    /*width: 990px;*/
    margin: 0 auto;
}

.item-container {
	width: 1048px;
	width: 1000px;
	margin: 0 auto;
}

.profile-container {
	width: 720px;
	margin: 0 auto;
}

body {
	color: #575757;
	font-family: Helvetica;
}

.ui.divider:not(.vertical):not(.horizontal) {
	border-top: 1px solid #dfdfdf;
}

.links {
	cursor: pointer;
	color: #f5a623;
	&:hover {
		color: #f5a623;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.stripe-loading-indicator .stripe, .stripe-loading-indicator .stripe-loaded {
	background: #f5a623 !important;
}

.title-2 {
	font-family: Palatino;
  font-size: 25px;
  font-weight: bold;
}

.title-4 {
	font-size: 23px;
  line-height: 1.3;
  color: #a5a5a5;
  font-weight: normal;
}

/* Media Query */

@media only screen and (max-width: 991px) {
	.container {
		width: 737px;
	}
	.item-container {
		width: 677px;
	}
	.title-3 {
		font-size: 14px!important;
	}
}

@media only screen and (max-width: 767px) {
	.container {
		width: 100%;
		padding-right: 10px;
		padding-left: 10px;
	}
	.item-container {
		width: 100%!important;
		padding-right: 1rem;
		padding-left: 1rem;
		padding-right: 10px;
		padding-left: 10px;
	}
	.profile-container {
		width: 100%;
	}
	.ui.grid {
		margin-left: -10px;
		margin-right: -10px;
	}
	.ui.grid>.column:not(.row), .ui.grid>.row>.column {
		padding-left: 10px;
		padding-right: 10px;
	}
	.Line-1, .Line-2 {
		display: none;
	}
	.best-title {
		width: 100% !important;
	}
	.Shop-our-latest-tren {
		margin-top: 7px;
	}
	.best-frames {
		margin-top: 23px;
	}
  .image-1 {
    height: 257px;
  }
}

/* Iphone 6 above */
@media only screen and (max-width: 375px) {
	.homepage {
		.subscribe-form {
			width: 67.7%;
		}
		.subscribe-submit {
			width: 31.7%;
		}
		.frame-2-content {
			min-width: 168px;
		}
		.hr-inline.hi2 {
			width: 67%;
		}
	}
	.item-page .slick-prev, .item-page .slick-next {
		max-width: 51px;
	}
	.category-page .image-slider-cat {
    object-position: 96% !important;
  }
}

@media only screen and (max-width: 340px) {
	.homepage .hr-inline.hi2 {
		width: 60%;
	}
	.homepage .subscribe-submit {
		width: 37.7%;
	}
	.homepage .subscribe-form {
		width: 61.7%;
	}
	.category-page .image-1 {
		height: 200px;
	}
	.category-page .image-slider-cat {
    object-position: 91% !important;
  }
  .item-page .slick-prev, .item-page .slick-next {
		max-width: 49px;
	}
}