.thankyou-page {
  line-height: normal;
  .tp-1, .tp-2, .tp-3, .tp-4 {
    text-align: center;
  }
  .tp-1 {
    margin-top: 48px;
    .tp-1-1 {
      font-family: Palatino-Roman;
      font-size: 35px;
      text-align: center;
      color: #575757;
      font-weight: bold;
    }
    .tp-1-2 {
      font-size: 17px;
      margin-top: 21px;
      margin-bottom: 21px;
    }
  }
  .tp-2-1, .tp-3-1 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 33px;
  }
  .tp-2 {
    margin-bottom: 34px;
    .tp-2-2 {
      font-size: 50px;
      font-weight: bold;
      margin-top: 17px;
      margin-bottom: 23px;
    }
  }
  .js-copy-price-btn, .js-copy-bank-btn {
    font-size: 15px;
    text-align: center;
    color: #f5a623;
    &:hover {
      cursor: pointer;
    }
    &:active {
      color: #575757;
    }
  }
  .tp-3 {
    margin-bottom: 45px;
    .tp-3-2 {
      width: 140px;
      margin: 0 auto;
      margin-top: 36px;
      margin-bottom: 21px;
    }
    .tp-3-1 {
      margin-top: 43px;
    }
    .tp-3-2 img {
      width: 100%;
    }
    .tp-3-3 {
      font-size: 17px;
    }
    .tp-3-4 {
      font-size: 17px;
      font-weight: bold;
      margin-top: 11px;
      margin-bottom: 21px;
    }
  }
  .tp-4 {
    .tp-4-1 {
      font-size: 12px;
    }
    .btn-01 {
      max-width: 439px;
      margin: 0 auto;
      margin-top: 33px;
      margin-bottom: 106px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .thankyou-page {
    .basket-page {
      margin-bottom: 129px;
    }
    .span12 {
      margin-bottom: 0;
    }
    .tp-1 {
      margin-top: 25px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .thankyou-page {
    .tp-1 .tp-1-1 {
      font-size: 23px;
    }
    .tp-1 .tp-1-2, .tp-2-1, .tp-2-3, .js-copy-price-btn, .js-copy-bank-btn, .tp-2-1, .tp-3-1, .tp-3 .tp-3-3 {
      font-size: 14px;
    }
    .tp-2 .tp-2-2 {
      font-size: 40px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .tp-2-1, .tp-3-1, .tp-3 .tp-3-1 {
      margin-top: 25px;
    }
    .tp-3 .tp-3-4 {
      margin-top: 9px;
    }
    .tp-3 {
      margin-bottom: 29px;
    }
    .tp-4 .btn-01 {
      margin-bottom: 64px;
    }
  }
}