@charset "UTF-8";
/* Vendor */
/*@import "../semantic-ui-sass/semantic-ui";*/
/* Setup */
/*@import "reset";
@import "mixins";
@import "variables";
@import "fonts";
@import "globals";*/
/* Custom parts */
@font-face {
  font-family: 'Arimo-Bold';
  src: url("../../fonts/css/fonts/Arimo/Arimo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'time sans serif';
  src: url("../../css/fonts/Times-Sans-Serif/Times-Sans-Serif.ttf") format("truetype");
}

/*
@font-face {
  font-family: '_H_HelveticaNeueInterface';
  src: url("../../fonts/css/fonts/Helvetica-Neue-Interface/_H_HelveticaNeueInterface.ttf") format('truetype');
}*/
@font-face {
  font-family: 'Helvetica-Neue-Interface';
  src: url("../../css/fonts/webfonts_Helvetica-Neue-Interface/Helvetica-Neue-Interface.ttf.woff") format("woff"), url("../../css/fonts/webfonts_Helvetica-Neue-Interface/Helvetica-Neue-Interface.ttf.svg#Helvetica-Neue-Interface") format("svg"), url("../../css/fonts/webfonts_Helvetica-Neue-Interface/Helvetica-Neue-Interface.ttf.eot"), url("../../css/fonts/webfonts_Helvetica-Neue-Interface/Helvetica-Neue-Interface.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.Rectangle-2 {
  height: 31px;
  background-color: #f4f4f4;
}

.-Off-ALL-Bras-3 {
  font-family: Helvetica;
  font-size: 10px;
  color: #575757;
  line-height: 31px;
  float: left;
}

.icon-rect-2 {
  float: right;
  line-height: 31px;
}

.shop---anticon, .location-pin---simple-line-icons, .phone---simple-line-icons {
  -o-object-fit: contain;
  object-fit: contain;
  font-size: 13px;
  text-align: left;
  color: #575757;
  margin-right: 20px;
}

.phone-numb {
  font-family: Helvetica;
  font-size: 11px;
  text-align: left;
  color: #575757;
}

.Rectangle {
  height: 70px;
  background-color: #ffffff;
  border-bottom: solid 1px #dfdfdf;
}

.Rectangle .container {
  line-height: 70px;
}

.menu {
  margin-right: 18px;
}

.Behaku {
  font-family: 'time sans serif';
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  color: #ee8484;
  display: inline-block;
}

.Behaku a {
  color: #ee8484;
}

.icon-rect {
  float: right;
}

.ui.search {
  display: inline-block;
  margin-right: 39px;
}

.search---FontAwesome, .User---simple-line-icons, .shopping-bag---FontAwesome, .header .icon-rect span {
  -o-object-fit: contain;
  object-fit: contain;
  font-size: 15px;
  text-align: left;
  color: #575757;
  margin-right: 20px;
  cursor: pointer;
}

.header .icon-rect .fa-shopping-cart {
  margin-right: 0;
}

.shopping-bag---FontAwesome {
  margin-right: 0;
}

.header .ui.grid {
  margin-right: 0;
  margin-top: 0;
}

.header .ui.grid > .row {
  padding: 0;
}

.rect-nav .twelve.column.row .column {
  font-family: HelveticaNeue;
  font-family: 'Helvetica-Neue-Interface';
  font-size: 10px;
  color: #575757;
  text-align: center;
}

.rect-nav a {
  color: #575757;
}

.header .icon-rect a {
  color: #575757;
}

[data-position="bottom left"][data-tooltip]:before {
  left: 0;
}

[data-position="bottom left"][data-tooltip]:after {
  left: -1rem;
}

.user-dropdown {
  position: relative;
}

.user-dropdown .circle-user.active {
  color: #8BC43F;
}

.user-dropdown .circle-user, .icon-header .circle-user {
  position: absolute;
  top: -0.6rem;
  left: 0.7rem;
  font-size: 7px;
}

.header .icon-rect span:last-child {
  margin-right: 0;
}

/* Media Query */
@media only screen and (max-width: 991px) {
  .header .-Off-ALL-Bras-3 {
    float: none;
    text-align: center;
  }
  .header .icon-rect-2 {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .header .-Off-ALL-Bras-3 span {
    display: none;
  }
}

.rect-nav {
  display: block;
  height: 32px;
  border-bottom: solid 1px #dfdfdf;
  text-transform: uppercase;
}

.rect-nav .container {
  line-height: 32px;
}

.rect-nav .ui.grid {
  margin-top: 0;
}

.rect-nav .ui.grid > .row {
  padding: 0;
}

.image-slider-2 {
  width: 100%;
  height: auto;
}

.best-seller {
  margin-top: 59px;
}

.best-seller .intro .title {
  width: 100%;
}

.Line-1, .Line-2 {
  width: 35%;
  height: 3px;
  border-bottom: solid 1px #dfdfdf;
  display: inline-block;
  line-height: 42px;
}

.best-title {
  display: inline-block;
  margin: 0 auto;
  width: 29%;
}

.best-seller .title h2, .rectangle-5 .title h2 {
  text-align: center;
  margin: 0 auto;
  height: 42px;
  font-family: Palatino;
  font-size: 32px;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.Shop-our-latest-tren {
  font-family: Helvetica;
  font-size: 13px;
  text-align: center;
  color: #a5a5a5;
  margin-top: 9px;
}

.best-frames {
  margin-top: 45px;
}

.best-frames .frame-1 {
  width: 227px;
  /*width: 100%;*/
  /*height: 394px;
  height: 410px;*/
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(199, 199, 199, 0.5);
  border-top: 0.2px solid rgba(199, 199, 199, 0.5);
  display: inline-block;
}

.image-1 {
  width: 219px;
  height: 289px;
  height: 297px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 4px 4px 0 4px;
}

.best-frames .frame-1 {
  position: relative;
}

.heart-o---FontAwesome {
  position: absolute;
  top: 12px;
  right: 12px;
}

.Rectangle-7 {
  /*width: 227px;*/
  /*height: 93px;*/
  /*background-color: #fefefe;*/
  padding: 10px 12px 14px 12px;
}

.best-frames .frame-1-price {
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  color: #575757;
  margin-bottom: 4px;
}

.best-frames .frame-1-description {
  font-family: Helvetica;
  font-size: 13px;
  text-align: left;
  color: #a5a5a5;
  /*margin-bottom: 8px;*/
}

.frame-1-star {
  font-size: 10px;
  color: #f5b975;
  margin-right: 3px;
  display: inline-block;
}

.the-brand-boutique {
  margin-top: 89px;
}

.tb2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.the-brand-boutique .say-hello {
  font-family: Palatino;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  color: #575757;
}

.the-brand-boutique .the-brand {
  display: inline-block;
}

.the-brand-boutique .tb2 h3 {
  font-family: Palatino;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #575757;
}

.hr-inline {
  display: inline-block;
  width: 850px;
  height: 1px;
  border: 0;
  border-top: 1px solid #dfdfdf;
  padding: 0;
}

.see-more {
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold;
  float: right;
  color: #f5a623;
  line-height: 41px;
}

.see-more p, .see-more i {
  display: inline-block;
}

.tb3 {
  font-family: Helvetica;
  font-size: 13px;
  text-align: left;
  color: #a5a5a5;
  margin-top: 3px;
}

.tbb-frames {
  margin-top: 33px;
}

.tbb-frames .frame-1 {
  height: 616px;
  background-color: #d8d8d8;
  box-shadow: 0 2px 4px 0 rgba(157, 157, 157, 0.5);
}

.tbb-frames .frame-2, .frame-2 {
  height: 294px;
  background-color: #d8d8d8;
  box-shadow: 0 2px 4px 0 rgba(157, 157, 157, 0.5);
}

.tbb-frames .frame-3 {
  height: 244px;
  background-color: #d8d8d8;
  box-shadow: 0 2px 4px 0 rgba(157, 157, 157, 0.5);
}

.tbb-frames .image-5, .tbb-frames .image-6 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.tbb-frames .frame-1 {
  position: relative;
}

.tbb-text-01 {
  position: absolute;
  /*left: 50%;*/
  top: 71px;
  top: 110px;
  /*top: 94px;*/
  right: 30px;
  right: 70px;
  text-align: center;
}

.tbb-text-001, .tbb-text-002, .tbb-text-003, .tbb-text-004 {
  position: relative;
  /*left: -50%;*/
  font-family: Helvetica;
  color: #575757;
  display: block;
}

.tbb-text-001 {
  font-size: 28px;
  font-weight: bold;
}

.tbb-text-002 {
  font-size: 18px;
  margin-top: 12.4px;
}

.tbb-text-003 {
  font-size: 14px;
  margin-top: 26.6px;
}

.tbb-text-004 {
  font-family: sans-serif;
  font-family: 'Helvetica-Neue-Interface';
  font-size: 36px;
  font-weight: bold;
  margin-top: 35.6px;
}

.btn-01 {
  border-radius: 100px;
  background-color: #f5a623;
  box-shadow: 0 1px 1px 0 rgba(122, 122, 122, 0.5);
  padding: 10px 23px;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 52.3px;
}

.rectangle-5 {
  background-color: #f8f8f8;
  padding-top: 57px;
  padding-bottom: 107px;
  margin-top: 105px;
}

.r5 {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.rectangle-8 {
  width: 313px;
  width: 290px;
  /*height: 356px;*/
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(157, 157, 157, 0.5);
}

.rectangle-5 .ui.grid {
  margin-top: 41px;
}

.rectangle-5 .image-02 {
  width: 100%;
}

.r5-text-01 {
  padding: 13.6px 11.7px 14.2px 11.7px;
}

.r5-text-001 {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 1.67;
  color: #f5a623;
}

.r5-text-002 {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  color: #575757;
  margin-top: 9px;
}

.r5-text-003 {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.64;
  text-align: left;
  color: #a5a5a5;
  margin-top: 5.3px;
}

.hr-inline.hi2 {
  width: 165px;
}

.read-more {
  display: inline-block;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  text-align: left;
  color: #f5a623;
}

.r5-text-004 {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 10.5px;
}

.rectangle-6 {
  padding: 32px 0;
  background: #fff;
}

.rectangle-6 .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.r6-right {
  margin-left: auto;
}

.r6-text-01 {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #575757;
}

.r6-text-02 {
  font-family: Helvetica;
  font-size: 13px;
  text-align: left;
  color: #575757;
}

.subscribe-form:focus {
  outline: none;
}

.subscribe-form {
  width: 342px;
  height: 44px;
  border: solid 1px #dfdfdf;
  padding-left: 24px !important;
  font-family: Helvetica;
  font-size: 15px;
  text-align: left;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.subscribe-submit {
  width: 146px;
  height: 44px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #f5a623;
  border-style: none;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  text-align: left;
  color: #ffffff;
  padding-left: 30px;
}

.subscribe-submit:hover {
  cursor: pointer;
}

.subscribe-submit:focus {
  outline: none;
}

.ui.divided.grid:not([class*="vertically divided"]) > .row > .column {
  box-shadow: -2px 0 0 0 #ededed;
}

.tbb-frames .icon.fa-shopping-bag {
  margin-left: 6.2px;
}

.frame-2 {
  position: relative;
}

.homepage .slider {
  position: relative;
}

.valign-left, .valign-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  opacity: 0.8;
  font-size: 60px;
}

.valign-right {
  right: 0;
}

.best-seller {
  position: relative;
}

.best-seller .icon.fa-angle-left, .item-row-3 .icon.fa-angle-left {
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #aeaeae;
  opacity: 0.6;
  font-size: 60px;
  left: 0;
}

.best-seller .icon.fa-angle-right, .item-row-3 .icon.fa-angle-right {
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #aeaeae;
  opacity: 0.6;
  font-size: 60px;
  right: 0;
}

.frame-2-content {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tbb-frames .f2c-1 {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.tbb-frames .f2c-2 {
  width: 109px;
  height: 27px;
  border-radius: 100px;
  border: solid 2px #ffffff;
  font-family: Helvetica;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin: 8px auto;
}

.tbb-frames .frame-2 img {
  display: block;
  opacity: 0.8;
  background: red;
}

.frame-2-content {
  opacity: 1;
}

.frame-2-container {
  background: #000;
  height: 100%;
}

.tbb-title-tab {
  display: none;
}

.tablet-column {
  display: none !important;
}

/* Media Query */
@media only screen and (max-width: 991px) {
  .homepage .rect-nav {
    display: none;
  }
  .homepage .Line-1, .homepage .Line-2 {
    width: 29.5%;
  }
  .homepage .best-title {
    width: 39.5%;
  }
  .homepage .best-frames .slick-arrow, .homepage .best-frames .slick-arrow:hover, .homepage .best-frames .slick-arrow:focus {
    background: #f5a623;
    color: #fff;
  }
  .homepage .best-frames .slick-prev {
    left: 0;
    z-index: 999;
  }
  .homepage .best-frames .slick-next {
    right: 0;
    z-index: 999;
  }
  .homepage .best-frames .slick-prev:before {
    content: "\f104";
  }
  .homepage .best-frames .slick-next:before {
    content: "\f105";
  }
  .homepage .best-frames .slick-prev:before, .homepage .best-frames .slick-next:before {
    font-family: FontAwesome;
    color: #fff;
    font-size: 30px;
  }
  .homepage .best-frames .slick-prev, .homepage .best-frames .slick-next {
    width: 30px;
    height: 30px;
  }
  .homepage .tbb-title {
    display: none;
  }
  .homepage .tbb-title-tab {
    display: block;
  }
  .homepage .tbb-title-tab .Line-1, .homepage .tbb-title-tab .Line-2 {
    width: 20%;
  }
  .homepage .tbb-title-tab .best-title {
    width: 58.5%;
  }
  .homepage .the-brand-boutique {
    margin-top: 60px;
  }
  .homepage .tbb-frames .frame-1 {
    height: 479px;
  }
  .homepage .tbb-frames .frame-2, .homepage .frame-2 {
    height: 225.5px;
  }
  .homepage .computer-column {
    display: none !important;
  }
  .homepage .tbb-frames .sixteen.wide.tablet.column .frame-2 {
    height: 244px;
  }
  .homepage .tablet-column {
    display: block !important;
  }
  .homepage .ui.column.grid > [class*="ten wide tablet"].column, .homepage .ui.grid > .column.row > [class*="ten wide tablet"].column, .homepage .ui.grid > .row > [class*="ten wide tablet"].column, .homepage .ui.grid > [class*="ten wide tablet"].column {
    width: 510px !important;
  }
  .homepage .ui.column.grid > [class*="six wide"].column, .homepage .ui.grid > .column.row > [class*="six wide"].column, .homepage .ui.grid > .row > [class*="six wide"].column, .homepage .ui.grid > [class*="six wide"].column {
    width: 255px !important;
  }
  .homepage .tbb-text-01 {
    top: 71px;
    right: 24px;
  }
  .homepage .rectangle-5 {
    margin-top: 17px;
    padding-bottom: 79px;
  }
  .homepage .rectangle-5 .best-title {
    width: 45.5%;
  }
  .homepage .rectangle-5 .Line-1, .homepage .rectangle-5 .Line-2 {
    width: 26.5%;
  }
  .homepage .rectangle-5 .ui.grid {
    margin-top: 27px;
  }
  .homepage .rectangle-8 {
    width: 100%;
  }
  .homepage #responsive-js-1 .article-column {
    margin-bottom: 28px;
  }
  .homepage .rectangle-6 .container {
    display: block;
    text-align: center;
  }
  .homepage .rectangle-6 .container .r6-text-01, .homepage .rectangle-6 .container .r6-text-02 {
    text-align: center;
  }
  .homepage .rectangle-6 .container .r6-text-01 {
    margin-bottom: 7px;
  }
  .homepage .rectangle-6 .container .r6-text-02 {
    margin-bottom: 19px;
  }
}

@media only screen and (max-width: 767px) {
  .homepage .image-slider-2 {
    height: 300px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 12%;
    object-position: 12%;
  }
  .homepage .best-seller {
    margin-top: 36px;
  }
  .homepage .the-brand-boutique {
    margin-top: 48px;
  }
  .homepage .tbb-frames .frame-1 {
    height: 317px;
  }
  .homepage .tbb-text-001 {
    font-size: 22px;
  }
  .homepage .tbb-text-002 {
    font-size: 14px;
    margin-top: 5px;
  }
  .homepage .tbb-text-003 {
    font-size: 12px;
    margin-top: 9px;
  }
  .homepage .tbb-text-004 {
    font-size: 24px;
    margin-top: 15px;
  }
  .homepage .tbb-frames .btn-01 {
    margin-top: 46px;
  }
  .homepage .tbb-frames .frame-2, .homepage .tbb-frames .sixteen.wide.tablet.column .frame-2 {
    height: 317px;
  }
  .homepage .frame-2-container {
    /*background-color: transparent;*/
    /*box-shadow: 0 2px 4px 0 rgba(157, 157, 157, 0.5);*/
  }
  .homepage .cat-home-frame {
    padding-bottom: 5px !important;
  }
  .homepage .tbb-frames .f2c-2 {
    margin-top: 20px;
    font-size: 14px;
    padding: 11px 28px;
    width: auto;
    height: auto;
  }
  .homepage .rectangle-5 {
    padding-top: 47px;
    padding-bottom: 30px;
  }
  .homepage .rectangle-5 .Shop-our-latest-tren {
    max-width: 260px;
    margin: 7px auto;
  }
  .homepage .rectangle-5 .ui.grid {
    margin-top: 5px;
  }
  .homepage .hr-inline.hi2 {
    width: 70%;
    margin-left: 0;
  }
  .homepage .column.article-column:last-child {
    display: none;
  }
  .homepage #responsive-js-1 .article-column {
    margin-bottom: 20px;
  }
  .homepage .r6-text-01 {
    font-size: 16px;
  }
  .homepage .r6-text-02 {
    font-size: 12px;
  }
  .homepage .subscribe-form {
    width: 69.7%;
  }
  .homepage .subscribe-submit {
    width: 29.7%;
    /*font-size: 12px;*/
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }
}

*, :after, :before {
  box-sizing: inherit;
}

/* =======================================================================
## ++ Cleafix
========================================================================== */
/* float clearing for IE6 */
* html .clearfix {
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
* + html .clearfix {
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

/* =======================================================================
## Custom
========================================================================== */
.container {
  width: 1250px;
  /*width: 990px;*/
  margin: 0 auto;
}

.item-container {
  width: 1048px;
  width: 1000px;
  margin: 0 auto;
}

.profile-container {
  width: 720px;
  margin: 0 auto;
}

body {
  color: #575757;
  font-family: Helvetica;
}

.ui.divider:not(.vertical):not(.horizontal) {
  border-top: 1px solid #dfdfdf;
}

.links {
  cursor: pointer;
  color: #f5a623;
}

.links:hover {
  color: #f5a623;
}

.cursor-pointer {
  cursor: pointer;
}

.stripe-loading-indicator .stripe, .stripe-loading-indicator .stripe-loaded {
  background: #f5a623 !important;
}

.title-2 {
  font-family: Palatino;
  font-size: 25px;
  font-weight: bold;
}

.title-4 {
  font-size: 23px;
  line-height: 1.3;
  color: #a5a5a5;
  font-weight: normal;
}

/* Media Query */
@media only screen and (max-width: 991px) {
  .container {
    width: 737px;
  }
  .item-container {
    width: 677px;
  }
  .title-3 {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .item-container {
    width: 100% !important;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-right: 10px;
    padding-left: 10px;
  }
  .profile-container {
    width: 100%;
  }
  .Line-1, .Line-2 {
    display: none;
  }
  .best-title {
    width: 100% !important;
  }
  .Shop-our-latest-tren {
    margin-top: 7px;
  }
  .best-frames {
    margin-top: 23px;
  }
  .Rectangle-7 {
    min-height: 107px;
  }
  .image-1 {
    height: 257px;
  }
}

/* Iphone 6 above */
@media only screen and (max-width: 375px) {
  .homepage .subscribe-form {
    width: 67.7%;
  }
  .homepage .subscribe-submit {
    width: 31.7%;
  }
  .homepage .frame-2-content {
    min-width: 168px;
  }
  .homepage .hr-inline.hi2 {
    width: 67%;
  }
  .item-page .slick-prev, .item-page .slick-next {
    max-width: 49px;
  }
}

@media only screen and (max-width: 340px) {
  .homepage .hr-inline.hi2 {
    width: 60%;
  }
  .homepage .subscribe-submit {
    width: 37.7%;
  }
  .homepage .subscribe-form {
    width: 61.7%;
  }
  .image-1 {
    height: 200px;
  }
  .Rectangle-7 {
    min-height: 123px;
  }
}

.footer .rectangle-1 {
  margin-bottom: 45px;
}

.ft-1-1 {
  font-family: Helvetica;
  font-size: 13px;
  line-height: 1.77;
  text-align: left;
  color: #a5a5a5;
  margin-top: 16px;
}

.ft-1-2 {
  margin-top: 13px;
}

.icon-footer-01 {
  display: inline-block;
}

.icon-footer-01:first-child {
  margin-right: 22px;
}

.ft-2-1, .ft-3-1, .ft-4-1, .ft-5-1 {
  font-family: Helvetica;
  font-size: 13px;
  line-height: 1.77;
  color: #575757;
  font-weight: bold;
}

.ft-2-2 a, .ft-3-2 a, .ft-4-2 a, .ft-5-2 a {
  font-family: Helvetica;
  font-size: 13px;
  line-height: 1.77;
  color: #a5a5a5;
}

.ft-2-2 ul, .ft-3-2 ul, .ft-4-2 ul, .ft-5-2 ul {
  list-style-type: none;
  padding-left: 0;
}

.ft2 {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 1.92;
  color: #a5a5a5;
  float: right;
}

.ft2-1 {
  text-align: right;
  margin-bottom: 7px;
}

.icon-footer-02 {
  float: right;
}

.ft3 {
  border-top: solid 1px #dfdfdf;
  border-bottom: solid 1px #dfdfdf;
}

.ui.grid > .row.ft3 {
  padding: 21px 0;
  margin: 62px 1rem 0 1rem;
}

.ui.grid > .row.ft3 .left.floated.column {
  padding-left: 0;
}

.ui.grid > .row.ft3 .right.floated.column {
  padding-right: 0;
}

.ft3 .icon {
  -o-object-fit: contain;
  object-fit: contain;
  font-size: 18px;
  line-height: 1.28;
  color: #a5a5a5;
}

.ft3 .right.floated.column {
  text-align: right;
}

.ft4 {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 1.92;
  color: #a5a5a5;
  text-align: center;
}

.footer .Behaku {
  font-size: 30px;
}

.rectangle-1 {
  background-color: #f8f8f8;
}

.rectangle-1 .container.rect-1 {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.rectangle-1 .column {
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-align: center;
  align-items: center;
  padding: 21px 0;
}

.r1-text-01 {
  display: inline-block;
  font-family: Helvetica;
  font-size: 20px;
  text-align: left;
  color: #a5a5a5;
  margin-left: 31px;
}

.footer-sm {
  display: none;
}

@media only screen and (max-width: 991px) {
  .footer .ui.grid > [class*="three column"].row > .column.payment-logo-list {
    width: 320px !important;
  }
  .footer .icon-01, .footer .r1-text-01 {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .footer .r1-text-01 {
    font-size: 17px;
    margin-top: 9px;
  }
  .footer .rectangle-1 .column {
    display: block !important;
  }
  .footer .rectangle-1 .row {
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer #responsive-js-3 .column {
    padding-top: 25px !important;
  }
  .footer #responsive-js-3 .column:first-child {
    padding-top: 30px !important;
  }
  .footer #responsive-js-3 .column:last-child {
    padding-bottom: 51px !important;
  }
  .footer .r1-text-01 {
    margin-top: 11px;
  }
}

@media only screen and (max-width: 767px) {
  .footer .footer-lg {
    display: none;
  }
  .footer .footer-sm {
    display: block;
  }
  .footer .ui.accordion.menu .item .title {
    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.77;
    color: #575757;
  }
  .footer .ui.accordion.menu {
    border: none;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: none;
    margin-bottom: 30px;
  }
  .footer .rectangle-1 {
    margin-bottom: 14px;
  }
  .footer .ft2 {
    float: none;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    padding-bottom: 30px;
  }
  .footer .ft2-1 {
    text-align: center;
  }
  .footer .icon-footer-02 {
    float: none;
  }
  .footer .ft2-2 {
    text-align: center;
  }
  .footer .payment-logo-list {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  }
  .footer .icon-footer-sm {
    text-align: center;
    padding-top: 1rem;
  }
  .footer .icon-footer-sm i.icon {
    font-size: 18px;
    color: #a5a5a5;
  }
  .footer .ft4 {
    max-width: 280px;
    text-align: center;
    margin: 0 auto;
    margin-top: 11px;
    margin-bottom: 17px;
  }
  .footer .footer-sm ul {
    padding-left: 1rem;
    list-style: none;
    margin-top: .3rem;
  }
  .footer .footer-sm ul a {
    font-family: Helvetica;
    line-height: 1.77;
    color: #a5a5a5;
  }
}

@font-face {
  font-family: 'Arimo-Bold';
  src: url("../../fonts/css/fonts/Arimo/Arimo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'time sans serif';
  src: url("../../css/fonts/Times-Sans-Serif/Times-Sans-Serif.ttf") format("truetype");
}

/*
@font-face {
  font-family: '_H_HelveticaNeueInterface';
  src: url("../../fonts/css/fonts/Helvetica-Neue-Interface/_H_HelveticaNeueInterface.ttf") format('truetype');
}*/
@font-face {
  font-family: 'Helvetica-Neue-Interface';
  src: url("../../css/fonts/webfonts_Helvetica-Neue-Interface/Helvetica-Neue-Interface.ttf.woff") format("woff"), url("../../css/fonts/webfonts_Helvetica-Neue-Interface/Helvetica-Neue-Interface.ttf.svg#Helvetica-Neue-Interface") format("svg"), url("../../css/fonts/webfonts_Helvetica-Neue-Interface/Helvetica-Neue-Interface.ttf.eot"), url("../../css/fonts/webfonts_Helvetica-Neue-Interface/Helvetica-Neue-Interface.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.site-nav {
  height: 36.8px;
  line-height: 36.8px;
}

.site-nav ul {
  padding-left: 0;
  margin: 0;
}

.site-nav li {
  display: inline;
}

.site-nav li a {
  margin: 0 5px;
}

.site-nav li:first-child a {
  margin-left: 0;
}

.site-nav a {
  font-family: 'Helvetica-Neue-Interface';
  font-size: 10px;
  font-weight: 500;
  text-align: left;
  color: #575757;
}

.site-nav li:last-child:after {
  content: "";
}

.site-nav li:after {
  content: " / ";
  color: #909090;
  color: #575757;
}

.snt-1 {
  float: left;
}

.snt-2 {
  font-family: Palatino;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.image-slider-cat {
  width: 100%;
  height: auto;
}

.cat-rect-1 {
  border-bottom: solid 1px #dfdfdf;
  padding-top: 7px;
  padding-bottom: 10px;
}

.cr1t1 {
  font-family: 'Helvetica-Neue-Interface';
  font-size: 13px;
  float: left;
  line-height: 34px;
}

.cr1t2 {
  float: right;
}

.cr1t2-1, .cr1t2-2 {
  display: inline-block;
}

.cr1t2-1 {
  margin-right: 14px;
}

.ui.default.dropdown:not(.button) > .text, .ui.dropdown:not(.button) > .default.text {
  font-family: 'Helvetica-Neue-Interface';
  font-size: 13px;
  color: #8c8c8c;
}

.ui.selection.dropdown {
  padding: 8.5px 2.1em 8.5px 1em;
  min-height: 1.71428571em;
  /*width: 132px;*/
  min-width: 132px;
}

.best-frames .five.column.row .column {
  margin-bottom: 30px;
}

.site-nav .snt-1 {
  font-size: 10px !important;
}

.site-nav .snt-2 {
  text-transform: uppercase;
}

.Rectangle-7 a {
  color: #a5a5a5 !important;
}

.cr1t2-2 .ui.fluid.dropdown.perPage {
  display: none;
}

.ui.selection.dropdown > .dropdown.icon {
  line-height: 1;
}

.category-page .best-title {
  text-align: center;
  width: 19%;
}

.category-page .btn-01 {
  font-size: 14px;
  line-height: 1.43;
  padding: 14px 49px;
}

.category-page .intro {
  margin-bottom: 78px;
  margin-top: 14px;
}

.category-page .Line-1, .category-page .Line-2 {
  width: 40%;
}

.title-page {
  display: none;
}

@media only screen and (max-width: 991px) {
  .category-page .best-frames {
    margin-top: 21px;
  }
  .category-page .frame-1 {
    margin-bottom: 26px;
  }
  .category-page .best-title {
    width: 30.5%;
  }
  .category-page .Line-1, .category-page .Line-2 {
    width: 34%;
  }
  .category-page .btn-01 {
    margin-top: 18px;
  }
  .category-page .intro {
    margin-bottom: 51px;
  }
}

@media only screen and (max-width: 767px) {
  .category-page .title-page {
    display: block;
    text-transform: uppercase;
    font-family: Palatino;
    font-size: 17px;
    font-weight: bold;
    color: #575757;
    padding: 9px 0;
    text-align: center;
  }
  .category-page .image-slider-cat {
    height: 182px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 100%;
    object-position: 100%;
  }
  .category-page .best-frames .frame-1, .category-page .image-1 {
    width: 100%;
  }
  .category-page .image-1 {
    margin: 0;
    padding: 4px 4px 0 4px;
  }
  .category-page .cr1t1, .category-page .cr1t2-1 {
    font-weight: bold;
  }
  .category-page .ui.grid > .row > .column.column-left {
    padding-right: .5rem;
  }
  .category-page .ui.grid > .row > .column.column-right {
    padding-left: .5rem;
  }
  .category-page .btn-01 {
    margin-top: 10px;
  }
}

.item-page {
  margin-top: 39px;
}

.vertical.slider .item-image-sm {
  width: 100% !important;
}

.item-image-sm:hover {
  cursor: pointer;
}

.item-image-sm:focus {
  outline: none;
}

.item-image-sm img {
  width: 100%;
  max-width: 94px;
  max-width: 70px;
}

.item-image-main img {
  width: 100%;
  width: 411px;
  height: 616px;
  -o-object-fit: cover;
  object-fit: cover;
}

.item .ui.grid > .item-image.seven.wide.column:not(.row) {
  padding-left: 6px;
  padding-right: 0;
}

.item .ui.grid > .buy-config.seven.wide.column:not(.row) {
  padding-left: 0;
}

.bc-text {
  max-width: 412px;
}

.bc-text-01 {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
}

.bc-text-02 {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 18px;
}

.bc-text .frame-1-stars {
  display: inline-block;
  margin-right: 6px;
}

.total-review {
  display: inline-block;
  font-size: 13px;
}

.title-3 {
  font-family: 'Helvetica-Neue-Interface';
  font-size: 17px;
  font-weight: bold;
}

.box-3, .box-4 {
  width: 27px;
  height: 28px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 2px;
  margin-right: 10px;
  display: inline-block;
  margin-top: 13px;
  text-align: center;
  line-height: 28px;
}

.bc-text-04 .choose-color .c1 {
  background-color: #762842;
  /*border: solid 1px #f5a623;*/
}

.bc-text-04 .choose-color .c2 {
  background-color: #b8e986;
}

.bc-text-04 .choose-color .c3 {
  background-color: #3b3b3b;
}

.size-box {
  border: solid 1px #dfdfdf;
  color: #dfdfdf;
  font-family: 'Helvetica-Neue-Interface';
  font-size: 13px;
  font-weight: 600;
}

.size-box:hover, .box-3:hover {
  cursor: pointer;
}

.size-box.active {
  border: solid 1px #f5a623;
  color: #575757;
}

.item-btn-group {
  margin-top: 14px;
}

.increment-btn .ui[class*="left action"].input > input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right-color: transparent !important;
}

.increment-btn .ui[class*="left action"].input > .button:last-child {
  border-radius: 0 .28571429rem .28571429rem 0;
}

.increment-btn .ui.input input {
  max-width: 55px;
  text-align: center;
  padding: 0;
}

.item-btn-group .increment-btn {
  float: left;
  line-height: 41px;
}

.increment-btn .ui.button {
  background: #F6F6F6;
  border: solid 1px #dfdfdf;
  color: #8c8c8c;
}

.increment-btn .ui.button:hover {
  background: #e0e1e2 none;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  color: rgba(0, 0, 0, 0.5);
}

.item-btn-group .btn-01 {
  margin-top: 0;
  width: 179.2px;
  margin-right: 0;
  float: right;
  font-size: 14px;
}

.item-btn-group .btn-01 i.icon {
  font-size: 20px;
}

.bct06-1, .bct06-2 {
  font-family: Helvetica;
  font-size: 12px;
  color: #bdbdbd;
  margin-top: 26px;
}

.bct06-2 {
  margin-top: 7px;
}

.bct06-1 p, .bct06-2 p {
  display: inline;
}

.bct06-1 .icon, .bct06-2 .icon {
  -o-object-fit: contain;
  object-fit: contain;
  font-size: 20px;
}

.item-row-1 {
  margin-bottom: 30px;
}

.ir2-text-1 .the-brand {
  width: 25%;
}

.ir2-text-1 .the-brand h3 {
  font-family: Palatino;
  font-size: 32px;
  font-weight: bold;
}

.ir2-text-1 .hr-inline {
  width: 75%;
}

.ir2-text-2 {
  border-radius: 5px;
  background-color: #fcfcfc;
  box-shadow: 0 2px 4px 0 rgba(222, 222, 222, 0.5);
  padding: 24px 27px 26px 27px;
  margin-top: 28px;
}

.title-4 {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.58;
}

.ul-left, .ul-right {
  float: left;
  margin-top: 7px;
}

.ul-left {
  margin-right: 15px;
}

.ir2-text-2 li, .ir2-2-3 p {
  font-size: 16px;
  line-height: 1.88;
  color: #818181;
}

.ir2-2-2 {
  margin-top: 29px;
  margin-bottom: 20px;
}

.ir2-text-2 .ui.divider:not(.vertical):not(.horizontal) {
  border-top: 1px solid #efefef;
  margin-left: -27px;
  margin-right: -27px;
}

.ir2-2-2 .ul-left {
  margin-bottom: 40px;
}

.ir2-2-3 .fa-star-o {
  font-size: 25px;
}

.item-row-2 {
  margin-bottom: 92px;
  margin-top: 55px;
}

.item-row-3 {
  margin-top: 51px;
  position: relative;
  margin-bottom: 54px;
}

.item-row-3 .Line-1, .item-row-3 .Line-2 {
  width: 37%;
}

.item-row-3 .best-title {
  width: 25%;
}

.ui.grid > .item-image.column:not(.row) {
  padding-left: 0;
}

.ui.grid > .buy-config.column:not(.row) {
  padding-left: .5rem;
}

.img-gallery.active, .box-3.active, .img-gallery-color.active {
  border: solid 1px #f5a623;
}

button.btn-01 {
  line-height: normal;
  border-width: 0;
  border-style: none;
  border-color: none;
  -o-border-image: none;
  border-image: none;
  cursor: pointer;
  -webkit-box-align: stretch;
  align-items: stretch;
  text-align: center;
}

button.btn-01:focus {
  outline: none;
}

.product-property-row {
  margin-top: 13px;
}

.item-page .ui.form .field > .selection.dropdown {
  width: auto;
}

.item-image-sm.color-image {
  display: inline-block;
  margin-right: 10px;
  margin-top: 13px;
}

.product-customization {
  margin-top: 26px !important;
}

/* Slick */
ul.slick-dots {
  display: none !important;
}

.slick-prev, .slick-next {
  border: 1px solid #dfdfdf;
  text-align: center;
  cursor: pointer;
  font-size: 1.7rem;
  speak: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  width: 72px;
  height: 27px;
}

.slick-prev:focus, .slick-next:focus {
  outline: none;
}

.bct06-md {
  display: none;
}

@media only screen and (max-width: 991px) {
  .item-page .item-container.item-row-1 {
    width: 737px;
  }
  .item-page .item-image-sm img {
    max-width: 53px;
  }
  .item-page .slick-prev, .item-page .slick-next {
    width: 55px;
  }
  .item-page .ui.grid > [class*="two wide"].column.img-sm-col {
    width: 83px !important;
  }
  .item-page .item-image-main img {
    width: 258px;
    height: 344px;
  }
  .item-page .ui.grid > [class*="six wide tablet"].column.item-image {
    width: 269.5px !important;
  }
  .item-page .bc-text-01 {
    font-size: 20px;
  }
  .item-page .bc-text-02 {
    font-size: 18px;
    margin-top: 18px;
    /*margin-bottom: 26px;*/
  }
  .item-page .item-btn-group .btn-01 {
    float: left;
    margin-top: 31.8px;
    margin-top: 20px;
  }
  .item-page .bct06-lg {
    display: none;
  }
  .item-page .bct06-md {
    display: block;
    float: right;
    /*margin-left: 53px;*/
  }
  .item-page .bct06-1, .item-page .bct06-2 {
    font-size: 9px;
    margin-top: 0;
  }
  .item-page .bct06-1 .icon, .item-page .bct06-2 .icon {
    font-size: 12px;
  }
  .item-page .ir2-text-1 .the-brand {
    width: 35%;
  }
  .item-page .ir2-text-1 .the-brand h3 {
    font-size: 28px;
  }
  .item-page .item-row-2 {
    margin-top: 32px;
    margin-bottom: 60px;
  }
  .item-page .ir2-2-2 .ul-left {
    margin-bottom: 30px;
  }
  .item-page .item-row-3 {
    margin-top: 30px;
  }
  .item-page .item-row-3 .best-title {
    width: 40.5%;
  }
  .item-page .item-row-3 .best-title h2 {
    font-size: 28px;
  }
  .item-page .item-row-3 .Line-1, .item-page .item-row-3 .Line-2 {
    width: 29%;
  }
  .item-page .best-frames .slick-arrow, .item-page .best-frames .slick-arrow:hover, .item-page .best-frames .slick-arrow:focus {
    background: #f5a623;
    color: #fff;
  }
  .item-page .best-frames .slick-prev {
    left: 0;
    z-index: 999;
  }
  .item-page .best-frames .slick-next {
    right: 0;
    z-index: 999;
  }
  .item-page .best-frames .slick-prev:before {
    content: "\f104";
  }
  .item-page .best-frames .slick-next:before {
    content: "\f105";
  }
  .item-page .best-frames .slick-prev:before, .item-page .best-frames .slick-next:before {
    font-family: FontAwesome;
    color: #fff;
    font-size: 30px;
  }
  .item-page .best-frames .slick-prev, .item-page .best-frames .slick-next {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .item-page {
    margin-top: 32px;
  }
  .item-page .ui.grid > [class*="two wide"].column.img-sm-col {
    width: 78px !important;
    max-width: 18.5% !important;
    padding-right: 8px;
  }
  .item-page .ui.grid > [class*="six wide tablet"].column.item-image {
    width: 81.25% !important;
  }
  .item-page .item-image-main img {
    width: 100%;
    height: auto;
    max-height: 495px;
  }
  .item-page .ui.grid > .buy-config.column:not(.row) {
    padding-left: 1rem;
    padding-top: 5px;
  }
  .item-page .item-btn-group .btn-01 {
    margin-top: 35px;
    margin-bottom: 7px;
    width: 100%;
  }
  .item-page .hr-inline {
    display: none;
  }
  .item-page .ir2-text-1 .the-brand {
    width: 100%;
    text-align: center;
  }
  .item-page .item-row-2 {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 340px) {
  .item-page .ui.grid > [class*="six wide tablet"].column.item-image {
    width: 78.25% !important;
  }
  .item-page .ui.grid > [class*="two wide"].column.img-sm-col {
    max-width: 21.5% !important;
  }
  .item-page .item-image-sm img {
    width: 47px;
  }
  .contact-page .Shop-our-latest-tren {
    width: 90%;
  }
}

.cp-1 {
  background-color: #fcfcfc;
  text-align: center;
  border-top: solid 1px #dfdfdf;
  border-bottom: solid 1px #dfdfdf;
  padding-top: 60px;
  padding-bottom: 60px;
}

.cp-1 i {
  font-size: 60px;
}

.cp-1 h2 {
  font-size: 40px;
  margin-top: 20px;
}

.cp-1 p {
  font-size: 13px;
  color: #a5a5a5;
}

.cp-2 {
  margin-top: 48px;
  margin-bottom: 169px;
}

.contact-form {
  margin-top: 35px;
}

.cp-2 .btn-01 {
  width: 192px;
  float: right;
  margin-top: 40px;
  text-align: center;
}

.contact-page .snt-2 {
  /*text-align: left;*/
  margin: 0 auto;
}

.contact-page .ui.selection.dropdown {
  min-height: 2.71428571em;
  padding: .78571429em 2.1em .78571429em 1em;
}

@media only screen and (max-width: 991px) {
  .contact-page .best-title {
    width: 35.5%;
  }
  .contact-page .Line-1, .contact-page .Line-2 {
    width: 31.5%;
  }
  .contact-page .cp-2 h2 {
    font-size: 28px;
  }
  .contact-page .Shop-our-latest-tren {
    width: 80%;
    margin: 9px auto;
  }
}

@media only screen and (max-width: 767px) {
  .contact-page .cp-2 {
    margin-top: 42px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide a:focus {
  outline: none;
}

.slick-slide img {
  display: block;
}

.slick-slide img:focus {
  outline: none;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/*.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow.slick-hidden {
    display: none;
}*/
.best-frames .slick-slide {
  /*margin: 0px 20px;*/
  margin-left: .115rem;
  margin-right: 1.885rem;
  width: 227px !important;
  margin-bottom: 10px;
}

.best-frames .slick-slide:focus {
  outline: none;
}

.best-frames .slick-track {
  width: 4500px !important;
  /*transform: translate3d(-1287px, 0px, 0px) !important;*/
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

/*.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}*/
/*.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}*/
/* slick theme */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.best-frames .slick-prev,
.best-frames .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.best-frames .slick-prev:hover, .best-frames .slick-prev:focus,
.best-frames .slick-next:hover,
.best-frames .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.best-frames .slick-prev:hover:before, .best-frames .slick-prev:focus:before,
.best-frames .slick-next:hover:before,
.best-frames .slick-next:focus:before {
  opacity: 1;
}

.best-frames .slick-prev.slick-disabled:before,
.best-frames .slick-next.slick-disabled:before {
  opacity: 0.25;
}

.best-frames .slick-prev:before,
.best-frames .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #aeaeae;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.best-frames .slick-prev {
  left: -25px;
}

[dir="rtl"] .best-frames .slick-prev {
  left: auto;
  right: -25px;
}

.best-frames .slick-prev:before {
  content: "←";
}

[dir="rtl"] .best-frames .slick-prev:before {
  content: "→";
}

.best-frames .slick-next {
  right: -25px;
}

[dir="rtl"] .best-frames .slick-next {
  left: -25px;
  right: auto;
}

.best-frames .slick-next:before {
  content: "→";
}

[dir="rtl"] .best-frames .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
  margin-bottom: 20px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.signin-modal {
  padding: 29px 92px 70px 92px;
  text-align: center;
}

.signin-modal .ui.form {
  text-align: left;
}

.signin-modal .ui.form .form-group:first-child {
  margin-top: 27px;
}

.signin-modal .ui.form .btn-01 {
  margin-top: 18px;
  width: 100%;
  text-transform: uppercase;
}

.signin-modal .ui.form label {
  color: #575757;
}

.signin-modal .Shop-our-latest-tren {
  color: #575757;
  margin-top: 19px;
}

.signin-modal .Shop-our-latest-tren .links {
  cursor: pointer;
}

.signin-modal .Shop-our-latest-tren.accept-terms {
  text-align: left;
  color: #a5a5a5;
}

.profile-page {
  padding-top: 38px;
  padding-bottom: 108px;
}

.profile-page .basic-field {
  border-radius: 5px;
  border: solid 1px #dfdfdf;
  padding: 23px 35px 21px 32px;
  margin-top: 8px;
}

.profile-page .field-1 {
  border-radius: 5px;
  border: solid 1px #dfdfdf;
  padding: 17px 12px;
  font-size: 19px;
  line-height: 1.58;
  text-align: left;
  color: #a5a5a5;
  margin-top: 3px;
  width: 100%;
}

.profile-page label {
  color: #a5a5a5 !important;
}

.profile-page #change-password {
  margin-bottom: 1em;
}

.profile-page #change-password-field {
  display: none;
  margin-bottom: 1em;
}

.profile-page .address-title {
  margin-top: 46px;
}

@media only screen and (max-width: 991px) {
  .signin-modal {
    padding: 29px 28px 62px 28px;
  }
  .profile-page {
    padding-bottom: 95px;
  }
  .profile-page .basic-field {
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .profile-page .title-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.my-orders-page {
  margin-bottom: 96px;
}

.my-orders-page .title-2 {
  margin-bottom: 0;
  margin-top: 30px;
  font-family: Helvetica;
  font-size: 20px;
}

.my-orders-page .order-no-sm {
  display: none;
}

@media only screen and (max-width: 991px) {
  .my-orders-page {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .my-orders-page .order-no-sm {
    display: table-cell;
  }
  .my-orders-page .order-no-lg {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
