title = "Homepage"
url = "/"
layout = "default"
meta_title = "Behaku"
is_hidden = 0

[myProductsList]
take = 12
orderBy = "id"
sort = "desc"
onSaleOnly = 1
productPage = "product"

[Jiri\Subscribe\Components\SubscribeForm subscribeform]
==
<?php
	use Jiri\Jkshop\Models\Category;
	function onStart(){
		$this['category'] = Category::orderBy('id','desc')->paginate(3);
		$this['categories'] = Category::get();
	}
?>
==
<div class="homepage">
	<div class="rect-nav">
		<div class="container">
			<div class="ui grid">
				<div class="twelve column row">
					<div class="column">VALUE PACKS</div>
					<div class="column">BRAND</div>
					{% for cats in categories %}
					<div class="column"><a href="/{{cats.slug}}">{{cats.title}}</a></div>
					{% endfor %}
					<div class="column">SALE%</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="slider">
		<div class="valign-left">
			<i class="icon fa-angle-left"></i>
		</div>
		<img src="{{'assets/img/sample/image-slider-2.2.jpg'|theme}}" srcset="{{'assets/img/sample/image-slider-2.2@2x.jpg 2x'|theme}}", "{{'assets/img/sample/image-slider-2.2@3x.jpg 3x'|theme}}" class="image-slider-2">
		<div class="valign-right">
			<i class="icon fa-angle-right"></i>
		</div>
	</div>

	<div class="best-seller">
		<div class="container">
			<div class="intro">
				<div class="title">
					<div class="Line-1"></div>
					<div class="best-title"><h2>Best Seller Products</h2></div>
					<div class="Line-2"></div>
				</div>
			</div>
			<div class="Shop-our-latest-tren">
				Shop our latest trending products and discover our latest style stories
			</div>
			<div class="best-frames">
				<section class="related-products slider">
	        {% set index = 0 %}
          {% for key, product in productsPagination.items()|slice(productsPagination.perPage()*(productsPagination.currentPage()-1), productsPagination.perPage()) %}
          {% set index = index+1 %}
            <div class="column">
              <div class="frame-1">
                {% if product.getMainImage %}
                <a href="/{% for cat in product.categories %}{{cat.slug}}{% endfor %}/{{product.slug}}">
                  <img src="{{ product.getMainImage.path }}" class="image-1 cursor-pointer">
                </a>
                {% endif %}
                <div class="Rectangle-7">
                  <div class="frame-1-price">{{ product.getFinalPriceFormated }}</div>
                  <div class="frame-1-description cursor-pointer"><a href="/{% for cat in product.categories %}{{cat.slug}}{% endfor %}/{{product.slug}}">{{ product.title }}</a></div>
                </div>
              </div>
            </div>
          {% else %}
            <div class="no-data">no products</div>
          {% endfor %}
        </section>
			</div>
		</div>
	</div>

	<div class="the-brand-boutique">
		<div class="container">
			<div class="tbb-title">
				<div class="say-hello">Say hello to</div>
				<div class="tb2">
					<div class="the-brand"><h3>The Brand Boutique!</h3></div>
					<hr class="hr-inline">
					<div class="see-more"><p>See more</p> <i class="icon fa-chevron-circle-right"></i></div>
				</div>
				<div class="tb3">A curated collection of your favourites - Behaku, Enamor, Amante, Lovable, Jockey & more.</div>
			</div>
			<div class="tbb-title-tab">
				<div class="intro">
					<div class="title">
						<div class="Line-1"></div>
						<div class="best-title"><h2>Say Hello To The Brand Boutique!</h2></div>
						<div class="Line-2"></div>
					</div>
				</div>
				<div class="Shop-our-latest-tren">
					A curated collection of your favourites - Behaku, Enamor, Amante, Lovable, Jockey & more.
				</div>
			</div>
			<div class="tbb-frames">
				<div class="ui grid">
					<div class="cat-home-frame ten wide tablet eight wide computer column">
						<div class="frame-1 frame-317">
							<img src="{{'assets/img/sample/image-5.2.jpg'|theme}}" srcset="{{'assets/img/sample/image-5.2@2x.jpg 2x'|theme}}", "{{'assets/img/sample/image-5.2@3x.jpg 3x'|theme}}" class="image-5">
							<div class="tbb-text-01">
								<div class="tbb-text-001">Your Outfit BBF!</div>
								<div class="tbb-text-002">Panties Wear Shapewear</div>
								<div class="tbb-text-003">Start from</div>
								<div class="tbb-text-004">Rp100.000</div>
								<a href="/panties"><div class="btn-01">SHOP PANTIES <i class="icon fa-shopping-bag"></i></div></a>
							</div>
						</div>
					</div>
					<div class="computer-column eight wide computer column">
						<div class="ui one column grid">
						  <div class="two column row">
						  	{% for key, cat in category %}
						  	{% if key < 2 %}
						  	<div class=" column">
						    	<div class="frame-2">
						    		<div class="frame-2-container">
						    			<img src="{% for cacat in cat.thumbnails %}{{cacat.path}}{% endfor %}" class="image-6">
							    		<div class="frame-2-content">
							    			<a href="/{{cat.slug}}"><div class="f2c-1">{{cat.title}}</div></a>
							    			<a href="/{{cat.slug}}"><div class="f2c-2">SHOP NOW <i class="icon fa-shopping-bag"></i></div></a>
							    		</div>
						    		</div>
						    	</div>
						    </div>
						    {% endif %}
								{% endfor %}
						  </div>
						  {% for key, cat in category %}
					  	{% if cat.slug == 'nightwear' %}
						  <div class="column">
						  	<div class="frame-2">
						  		<div class="frame-2-container">
					    			<img src="{% for cacat in cat.thumbnails %}{{cacat.path}}{% endfor %}" class="image-6">
						    		<div class="frame-2-content">
						    			<a href="/{{cat.slug}}"><div class="f2c-1">{{cat.title}}</div></a>
						    			<a href="/{{cat.slug}}"><div class="f2c-2">SHOP NOW <i class="icon fa-shopping-bag"></i></div></a>
						    		</div>
					    		</div>
						  	</div>
						  </div>
						  {% endif %}
							{% endfor %}
						</div>
					</div>
					<div id="responsive-js-2" class="tablet-column six wide tablet column">
						<div class="ui one column grid">
					  	{% for key, cat in category %}
					  	{% if key < 2 %}
					  	<div class="cat-home-frame column">
					    	<div class="frame-2">
					    		<div class="frame-2-container">
					    			<img src="{% for cacat in cat.thumbnails %}{{cacat.path}}{% endfor %}" class="image-6">
						    		<div class="frame-2-content">
						    			<a href="/{{cat.slug}}"><div class="f2c-1">{{cat.title}}</div></a>
						    			<a href="/{{cat.slug}}"><div class="f2c-2">SHOP NOW <i class="icon fa-shopping-bag"></i></div></a>
						    		</div>
					    		</div>
					    	</div>
					    </div>
					    {% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="tablet-column sixteen wide tablet column">
						{% for key, cat in category %}
				  	{% if cat.slug == 'nightwear' %}
					  <div class="column">
					  	<div class="frame-2">
					  		<div class="frame-2-container">
				    			<img src="{% for cacat in cat.thumbnails %}{{cacat.path}}{% endfor %}" class="image-6">
					    		<div class="frame-2-content">
					    			<a href="/{{cat.slug}}"><div class="f2c-1">{{cat.title}}</div></a>
					    			<a href="/{{cat.slug}}"><div class="f2c-2">SHOP NOW <i class="icon fa-shopping-bag"></i></div></a>
					    		</div>
				    		</div>
					  	</div>
					  </div>
					  {% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="rectangle-5">
		<div class="container">
			<div class="intro">
				<div class="title">
					<div class="Line-1"></div>
					<div class="best-title"><h2>Check Out Our Latest</h2></div>
					<div class="Line-2"></div>
				</div>
			</div>
			<div class="Shop-our-latest-tren">
				What's new, our stores, customer speak and announcements
			</div>
			<div class="ui grid">
				<div id ="responsive-js-1" class="four column row">
					<div class="column article-column">
						<div class="rectangle-8">
							<div class="column">
								<img src="{{'assets/img/sample/brastyleguide-4-320-x-320.jpg'|theme}}" srcset="{{'assets/img/sample/brastyleguide-4-320-x-320@2x.jpg 2x'|theme}}", "{{'assets/img/sample/brastyleguide-4-320-x-320@3x.jpg 3x'|theme}}" class="image-02">
							</div>
							<div class="r5-text-01">
								<div class="r5-text-001">SHAPEWEAR</div>
								<div class="r5-text-002">For the start in you!</div>
								<div class="r5-text-003">
									Now you can try and buy our newest arrivals, curvy range, lacy bras and cute bralettes! Find your perfect asize...
								</div>
								<div class="r5-text-004">
									<hr class="hr-inline hi2">
									<div class="read-more">Read more <i class="icon fa-caret-right"></i></div>
								</div>
							</div>
						</div>
					</div>
					<div class="column article-column">
						<div class="rectangle-8">
							<div class="column">
								<img src="{{'assets/img/sample/image-02.jpg'|theme}}" srcset="{{'assets/img/sample/image-02@2x.jpg 2x'|theme}}", "{{'assets/img/sample/image-02@3x.jpg 3x'|theme}}" class="image-02">
							</div>
							<div class="r5-text-01">
								<div class="r5-text-001">ACCESSORIES</div>
								<div class="r5-text-002">Snug and Comfy Nightwear</div>
								<div class="r5-text-003">
									I’m wearing my favourite Behaku Cotton CoZzzies pyjama set. Nightwear like this makes me go “awww” and I don’t feel…
								</div>
								<div class="r5-text-004">
									<hr class="hr-inline hi2">
									<div class="read-more">Read more <i class="icon fa-caret-right"></i></div>
								</div>
							</div>
						</div>
					</div>
					<div class="column article-column">
						<div class="rectangle-8">
							<div class="column">
								<img src="{{'assets/img/sample/image-03.jpg'|theme}}" srcset="{{'assets/img/sample/image-03@2x.jpg 2x'|theme}}", "{{'assets/img/sample/image-03@3x.jpg 3x'|theme}}" class="image-02">
							</div>
							<div class="r5-text-01">
								<div class="r5-text-001">ACTIVEWEAR</div>
								<div class="r5-text-002">Feel Every Move With AlphaSculpt</div>
								<div class="r5-text-003">
									Special fabrics engineered for different workouts & different body parts. Activewear like this makes me go…
								</div>
								<div class="r5-text-004">
									<hr class="hr-inline hi2">
									<div class="read-more">Read more <i class="icon fa-caret-right"></i></div>
								</div>
							</div>
						</div>
					</div>
					<div class="column article-column">
						<div class="rectangle-8">
							<div class="column">
								<img src="{{'assets/img/sample/image-02.jpg'|theme}}" srcset="{{'assets/img/sample/image-02@2x.jpg 2x'|theme}}", "{{'assets/img/sample/image-02@3x.jpg 3x'|theme}}" class="image-02">
							</div>
							<div class="r5-text-01">
								<div class="r5-text-001">SHAPEWEAR</div>
								<div class="r5-text-002">For the start in you!</div>
								<div class="r5-text-003">
									Now you can try and buy our newest arrivals, curvy range, lacy bras and cute bralettes! Find your perfect asize...
								</div>
								<div class="r5-text-004">
									<hr class="hr-inline hi2">
									<div class="read-more">Read more <i class="icon fa-caret-right"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% component 'subscribeform' %}

	{% put scripts %}
		<script type="text/javascript">
		  $(document).on('ready', function() {
		    $(".related-products").slick({
		      dots: true,
		      infinite: true,
		      centerMode: false,
		      slidesToShow: 5,
		    });
		  });

		  if ($(window).width() < 992) {
		  	$("#responsive-js-1").removeClass('four column row');
		  	$("#responsive-js-1").addClass('two column row');
			}

			if ($(window).width() < 767) {
		  	$("#responsive-js-2").removeClass('tablet-column six wide tablet column');
		  	$("#responsive-js-2").addClass('tablet-column sixteen wide column');
		  	$("#responsive-js-1").removeClass('two column row');
		  	$("#responsive-js-1").addClass('one column row');
			}
		</script>
	{% endput %}
</div>